{% extends "base.html" %}
{% block content %}
<div class='container'>
    <div id="graph"></div>
        <script>
            var layout = {
                showlegend: true,
                legend: {x: -1, y: 1},
                title: "Salary Data for Chicago Police Dept Employees (Feb 2018)",
                yaxis: {
                    showticklabels: false
                }
            };
            Plotly.newPlot('graph', {{ data | safe  }}, layout);
        </script>
    {{layout | safe }}
</div>
{% endblock %}