{% extends "base.html" %}
{% block title %}
CV
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class='col-6'>
            <h1>Michael A. J. Tanenbaum, MA</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class='col-8' >
            725 President Street., Apt. G
        <!-- </div>
        <div class='col'> -->
            Brooklyn, NY 11215 //
        <!-- </div>
        <div class='col'> -->
            michael.a.tanenbaum [at] gmail //
        <!-- </div>
        <div class='col'> -->
            917.512.3660
        </div>
    </div>
    <hr>
    <br />
    <br />
    <div class="container">
        <div class="row justify-content-center">
            <div class='col-2'>
                <h4>Experience</h4>
            </div>
        </div>
        <br />
        <div class="row">
            <div class='col-md-4'>
                <h4>Hippo Technologies, LLC <br />
                Co-Founder and COO</h4>
            </div>
            <div class='col-md-4 offset-md-4' align=right>
                <h4>New York, NY <br />
                    July 2016 - April 2018
                </h4>
            </div>
        </div>
        <div class="row">
            <div class='col'>
                <ul>
                    <li>Drove strategy and execution for digital prescription management and discount medication purchasing application, closing $8MM+ seed funding</li>
                    <li>Hired and managed product and engineering team of 20 across 4 time zones, growing total company headcount from 3 to 55 in 18 months, including 22 software engineers</li>
                    <li>Established and managed day-to-day strategic relationships with key partners/vendors, each with $100B+ annual revenue, resulting in first-ever multi-PBM digital cash card consortium on a single platform</li>
                </ul>
            </div>
        </div>
        <br />
         <div class="row">
            <div class='col-md-4'>
                <h4>Blink Health, Ltd. <br />
                Chief of Staff  </h4>
            </div>
            <div class='col-md-4 offset-md-4' align=right>
                <h4>New York, NY <br />
                    January 2016 - July  2016
                </h4>
            </div>
        </div>
        <div class="row">
            <div class='col'>
                <ul>
                    <li>Analyzed, architected, and implemented firm-wide data and analytics strategy tracking 250,000+ digital prescription discount card customers</li>
                    <li>Hired and trained 5 data analysts, instituting policies and procedures for all financial planning and reporting, marketing ROI analysis, and pricing analysis supporting $10MM+ customer acquisition spend</li>
                    <li>Supported co-founders in PBM contract negotiations and plan implementation through Series A fundraise ($75MM), helping company grow to $50MM+ in annual gross revenue</li>
                </ul>
            </div>
        </div>
        <br />
         <div class="row">
            <div class='col-md-4'>
                <h4>ConnectCubed <br />
                    Co-founder and CEO
                </h4>
            </div>
            <div class='col-md-4 offset-md-4' align=right>
                <h4>New York, NY <br />
                    August 2010 - December 2015
                </h4>
            </div>
        </div>
        <div class="row">
            <div class='col'>
                <ul>
                    <li>Designed, developed, and programmed data gathering, storage, and statistical analysis software for HR executives to assist in data-driven decision-making</li>
                    <li>Created and executed 8-stage sales process, communicating via email with 2000+ companies per week, yielding 32% aggregate response rate and 30+ sales meetings with prospective clients per week</li>
                    <li>Successfully closed 130 VP-level clients with annual contract value ranging up to $45,000</li>
                </ul>
            </div>
        </div>
        <br />
         <div class="row">
            <div class='col-md-7'>
                <h4>
                    International Finance Corporation (World Bank Group) <br />
                    Consultant, Investment Climate Strategy and Analysis  
                </h4>
            </div>
            <div class='col-md-4 offset-md-1' align=right>
                <h4>Washington, DC <br />
                    January - August 2010
                </h4>
            </div>
        </div>
        <div class="row">
            <div class='col'>
                <ul>
                    <li>Conducted strategic assessment with division managers to determine requirements for new financial reporting software to streamline monitoring, budgeting, and evaluation of 290 staff globally</li>
                    <li>Designed and programmed Excel VBA software model interface to generate reports on project efficiency and budget utilization across seven global regions and fourteen product lines with US$33MM annual budget </li>
                </ul>
            </div>
        </div>
        <br />
        <div class="row">
            <div class='col-md-7'>
                <h4>J.P. Morgan Chase Bank, N.A. <br />
                    Summer Analyst, Global Credit Risk Management </h4>
            </div>
            <div class='col-md-4 offset-md-1' align=right>
                <h4>Hong Kong, China <br />
                    June - August 2009
                </h4>
            </div>
        </div>
        <div class="row">
            <div class='col'>
                <ul>
                    <li>Structured primary market credit packages for clients across Asia-Pacific as part of front-office deal teams in leveraged finance and illiquid credit; team successfully closed US$180MM in credit deals over 10 weeks</li>
                    <li>Created models and assessed multi-currency cash flow projections for multinational clients seeking positions with increased credit exposure; directly presented recommendations weekly to Senior Credit Officer</li>
                    <li>Conducted extensive due diligence in Chinese and prepared reports to ensure compliance with P.R. China regulations for US$100MM investment</li>
                </ul>
            </div>
        </div>
        <br />
        <div class="row justify-content-center">
            <div class='col-6'>
                <h4>Education, Skills, and Additional Information</h4>
            </div>
        </div>
        <br />
        <div class="row">
            <div class='col-md-9'>
                <h4>Johns Hopkins University, School of Advanced International Studies <br />
                    Master of Arts, International Relations and International Economics
                </h4>
            </div>
            <div class='col-md-3' align=right>
                <h4>Washington, DC <br />
                    May 2010
                </h4>
            </div>
        </div>
        <div class="row">
            <div class='col'>
                <ul>
                    <li>GPA 3.7; Flaherty Fellowship for exceptional academic performance</li>
                </ul>
            </div>
        </div>
        <br />
        <div class="row">
            <div class='col-md-6'>
                <h4>Johns Hopkins University <br />
                    Bachelor of Arts, International Relations
                </h4>
            </div>
            <div class='col-md-4 offset-md-2' align=right>
                <h4>Baltimore, MD <br />
                    May 2009
                </h4>
            </div>
        </div>
        <div class="row">
            <div class='col'>
                <ul>
                    <li>GPA: 3.77; Hodson Trust Merit Scholar</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class='col'>
                <p><b>Languages:</b> Mandarin Chinese (business proficient), Spanish (advanced), French (conversational)</p>
                <p><b>Skills:</b> Statistical analysis, Python, Flask, Ruby, MySQL/PostgreSQL, Software architecture, Partnership development</p>
                <p><b>Volunteer Work:</b> Vice President, Board of Directors, Forestdale, Inc.; Volunteer, Lead Locally; Member, MENSA International</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}